.vscode/**
.vscode-test/**
.github/**
.agents/**
src/**

test/**
scripts/**
out/**
tsconfig*.json
esbuild.js
spec.md
.gitignore
.git/**
**/*.map
.env*
images/*.svg
CONTRIBUTING.md
TODO.md
node_modules/**



